attrs==17.4.0
click==6.7
Flask==0.12.2
https://github.com/pilt/flask-versioned/archive/c6591bc9a5605242d5d82dd4e3bf30c11452748e.zip
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
mongomock==3.9.0
more-itertools==4.1.0
pbr==4.0.1
pluggy==0.6.0
py==1.5.3
pymongo==3.6.1
pytest==3.5.0
sentinels==1.0.0
six==1.11.0
Werkzeug==0.14.1
