LOGO=https://thatteidlikaalsoup.team/images/tiks-logo.ico
TEXT1=Thatte Idli Kaal Soup
TEXT2=Practice RSVP
COMPANY=Thatte Idli Kaal Soup
DEBUG=1
SETTINGS=settings/conf.py
OAUTHLIB_INSECURE_TRANSPORT=1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ZULIP_EMAIL=
ZULIP_KEY=
ZULIP_ANNOUNCE_STREAM=
MONGODB_URI=mongodb://root:root@db:27017/admin
