html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
}

section {
    margin-bottom: 4em;
}

footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.rsvp-cancelled {
    text-decoration: line-through;
    color: grey;
}

.rsvp-waitlisted {
    font-style: italic;
    color: orangered;
}

.rsvp-waitlisted::after {
    content: "(W/L)";
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.message_content blockquote{
    padding-left: 5px;
    margin-left: 8px;
    border-left: 5px solid #dedede;
}

.message_content .user-mention {
        background-color: #ededed;
    border-radius: 3px;
    padding: 0 .2em;
    box-shadow: 0 0 0 1px #ccc;
    margin-right: 2px;
    margin-left: 2px;
    white-space: nowrap;
    background: -moz-linear-gradient(top,rgba(0,0,0,.1) 0,transparent 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.1)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.1),transparent);
    background: -o-linear-gradient(top,rgba(0,0,0,.1) 0,transparent 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.1) 0,transparent 100%);
    background: linear-gradient(180deg,rgba(0,0,0,.1) 0,transparent);
    display: inline-block;
    margin-bottom: 1px;
}


.event-title{
    padding-right: 0.5em;
}
.cancelled-event {
    text-decoration: line-through;
}
.event-date, .post-date{
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 400;
    text-align: justify;
    padding: 0.2rem 1rem 0.2rem 0px;
    display: inline-table;
    line-height: 1;
    min-width: 3.5rem;
}
.event-date .day, .post-date .month{
    text-align: center;
    font-size: 70%;
    display: table-row;
}
.event-date .week, .post-date .day{
    text-align: center;
    display: table-row;
    font-size: 100%;
}
.post-date .year {
    text-align: center;
    display: table-row;
    font-size: 60%;
}
.rsvp-count {
    opacity: 0.7;
    font-size: 0.8em;
    min-width: 2.5em;
}
.rsvp-female-count {
    padding: 0.2em 0 0.2em 0.2em;
    border-radius: 0.25em;
    margin-right: 0.25em;
}

.photo-metadata {
    display: table;
}
.photo-metadata span {
    display: table-row;
}
#photo-grid {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photo-grid img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

.fc-addNew-button, .fc-prev-button, .fc-next-button, .fc-listMonth-button, .fc-listYear-button  {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.fc-listMonth-button:not(:disabled):not(.disabled).active, .fc-listYear-button:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

#folder-form-container {
    border: solid 2px;
    padding: 2em;
    margin: 2em 0;
    min-height: 100px;
}

#event-description {
    border: lightgray solid 0.5px;
    border-radius: 0.25em;
    padding: 1em;
    margin-top: 1em;
}

#rsvp-list, #event-rsvp {
    margin-top: 1em;
}

.photo-container {
    height: 200px;
    text-align: center;
    background-color: lightgray;
}
