{% extends "base.html" %}

{% block scripts %}
    <script>
     delete_rsvp = function(event_id, rsvp_id){
         $(".alert").text('Un-RSVPing...').show();
         fetch(`/api/rsvps/${event_id}/${rsvp_id}`, {method: "DELETE"}).then(function(response){
             if (response.status == 200){
                 window.location.href = "";
             } else {
                 alert("Failed to delete RSVP!");
             }
         });

     }

     update_message = function(){
         if ($('#name').val() !== "") {
             $(".alert").text('RSVPing...').show();
         }
     }

     $(document).ready(function(){
         new ClipboardJS('#copy-button');
     });

     // Enable tooltips
     $(function () {
         $('[data-toggle="tooltip"]').tooltip()
     })

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"
            integrity="sha256-meF2HJJ2Tcruwz3z4XcxYDRMxKprjdruBHc3InmixCQ="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <p class="h2">
        {{ TEXT2 }}
    </p>
    <div class="card">
        <div class="card-body">
            <p class="alert alert-info" style="display: none;"></p>
            <form class="form-inline" action="/new/{{event._id}}" method='POST'>
                <div class="form-group mx-2">
                    <input  type="text" name="name" class="form-control" id="name" placeholder="Enter name to RSVP" required>
                </div>
                <button type="Submit" onclick="update_message()" align="center" name="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <hr/>
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span data-toggle="tooltip"
                      title="Call in by {{item.email}}">{{item.name}}</span>
                {% if current_user.email == item.email or item.email == 'email@example.com' %}
                    <button onclick='delete_rsvp("{{event._id}}","{{item._id}}")' class="close">x</button>
                {% endif %}
            </li>
        {% endfor %}
        {% if count %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-info btn-sm my-2"
                        id="copy-button"
                        data-clipboard-action="copy"
                        data-clipboard-text="{% include 'event.md' %}">
                    Copy
                </button>
                <span class="badge badge-success badge-pill">{{count}}</span>
            </li>
        {% endif %}
    </ul>
{% endblock %}
