{% extends "base.html" %}

{% block scripts %}
    <script>
     update_message = function(){
         if ($('#name').val() === "" || $('#date').val() === '') {
             return;
         }
         $(".alert").text('Creating event ...').show();
     }
    </script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <form action="/event" method='POST'>
        <div  class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Event name" required>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" required>
        </div>
        <button type="Submit" onclick="update_message('yo')" align="center" name="submit" class="btn btn-danger">Submit</button>
    </form>
    <h3>Events</h3>
    <ol>
        {% for item in items %}
            <li class="text-center" style="line-height: 3em;">
                <span><a href="/event/{{item._id}}">{{ item.name }}</a></span>
                (<span>{{ item.date }}</span>)
            </li>
        {% endfor %}
    </ol>
    <p class="alert alert-info" style="display: none;"></p>
{% endblock %}
