{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" integrity="sha256-TQcHzEz3/ZJ8MeAoO1SRE5sa5q68U57dwZO/tArtNqk=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" integrity="sha256-xA+USAVmEnBnz1FiLRSG8xglJflQVHmQvbx5+u4bslk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='event.js')|versioned }}"></script>
    <!-- Awesomeplete -->
    <script>
     var input = document.getElementById("email");
     new Awesomplete(input, {
         list: [
             {% for nick, name, email in approved_users.values_list('nick', 'name', 'email') %}
             { label: "{{nick or name}}", value: "{{email}}" },
             {% endfor %}
         ],
         minChars: 0
     });
    </script>
{% endblock %}

{% block content %}
    <p class="h2">
        {% if event.cancelled %}
            <del>{{ TEXT2 }}</del>
            <span class="badge badge-danger">Cancelled</span>
        {% else %}
            {{ TEXT2 }}
            {% if event.archived %}
                <span class="badge badge-secondary">Archived</span>
            {% endif %}
        {% endif %}
        {% if event.can_edit(current_user) %}
            <a href="{{ url_for("event_editor", id=event.id) }}" align="center" name="submit" class="btn btn-secondary mr-2">Edit</a>
        {% endif %}
    </p>
    {% if event.can_rsvp(current_user) %}
        <div class="card">
            <div class="card-body">
                <p class="alert alert-info" style="display: none;"></p>
                <div class="form-inline">
                    <div class="form-group required mx-2">
                        <input  type="text"
                                name="email"
                                class="form-control"
                                id="email"
                                value="{{current_user.email}}"
                                required autofocus>
                    </div>
                    <button type="Submit" onclick='submit_rsvp("{{event.id}}")' align="center" name="submit" class="btn btn-primary mr-2">Submit</button>
                    <input type="text" name="note" class="form-control" id="note" placeholder="Additional note (optional)">
                </div>
            </div>
        </div>
    {% endif %}
    <hr/>
    {{ (event.html_description or '') | safe }}
    <hr/>
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item {% if item.user.fetch().gender == 'female' and not item.cancelled -%}text-white bg-dark{% endif -%}">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="rsvp {% if item.cancelled %}rsvp-cancelled{% endif %}"
                          "data-toggle="tooltip" title="RSVP by {{item | rsvp_by}}">
                        {{item | rsvp_name}}
                    </span>
                    {% if event.can_rsvp(current_user) and (
                        current_user == item.rsvp_by
                        or current_user == item.user
                        or item.rsvp_by is none)
                    %}
                        <button onclick='delete_rsvp("{{event.id}}","{{item.id}}")' class="close {% if item.user.fetch().gender == 'female' and not item.cancelled -%}text-white{% endif -%}">x</button>
                    {% endif %}
                </div>
                {% if item.note %}
                    <div class="small text-muted">
                        {{ item.note }}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        {% if count %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-info btn-sm my-2 copy-button"
                        data-placement="bottom"
                        data-clipboard-action="copy"
                        data-clipboard-text="{% include 'event.md' %}">
                    Copy Event
                </button>
                <button class="btn btn-outline-info btn-sm my-2 copy-button"
                        data-placement="bottom"
                        data-clipboard-action="copy"
                        data-clipboard-text="{% include 'full-names.md' %}">
                    Copy Full Names
                </button>
                <span class="badge badge-success badge-pill">{{count}}</span>
            </li>
        {% endif %}
    </ul>
    <hr/>
    {% include 'event-splitwise.html' %}
    {% include "zulip-comments.html" %}
{% endblock %}
