{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script>
     window.users = {{ approved_users|tojson }}
    </script>
    <script src="{{ url_for('static', filename='event.js')|versioned }}"></script>
{% endblock %}

{% block content %}
    <span class="d-flex align-items-center">
        <div class="event-date">
            <span class="week">{{ event.date.strftime("%a") }}</span>
            <span class="day">{{ event.date.strftime("%d %b") }} </span>
            <span class="day">{{ event.date.strftime("%H:%M") }} </span>
        </div>
        <div class="ml-2">
            <p class="h5 my-0">
                <span class="event-title {% if event.cancelled %}cancelled-event{% endif %}">
                    {{ event.name }}
                    {% if event.archived %}
                        <i class="fa fa-archive text-secondary" title="Archived"></i>
                    {% endif %}
                    {% if event.is_paid %}
                        <i class="fa fa-wallet text-secondary" title="Paid"></i>
                    {% endif %}
                </span>
            </p>
            {% if event.created_by %}
            <p class="text-muted my-0">
                <small>Created by {{ event.created_by.fetch().name }}</small>
            </p>
            {% endif %}
        </div>
    </span>
    {% with next_url = event.url %}
      {% if event.is_paid and not current_user.splitwise_connected %}
        {% include 'splitwise-connect.html' %}
      {% endif %}
    {% endwith %}
    {% include 'splitwise-dues.html' %}
    {% if event.can_rsvp(current_user) %}
        <div class="card col-md-6" id="event-rsvp">
            <div class="card-body">
                <p class="alert alert-info" style="display: none;"></p>
                <form>
                    <input type="hidden"
                           name="email"
                           class="form-control"
                           id="email"
                           value="{{current_user.email}}"
                           required autofocus>
                    <div id="autocomplete" class="form-group mb-1" style="display: none;">
                        <input class="autocomplete-input form-control"
                               name="email"
                               type="text"
                               id="email"
                               required autofocus />
                        <ul class="autocomplete-result-list"></ul>
                    </div>
                    <div class="form-group mb-2" id="rsvp-self">
                        <label for="going">Are you attending?</label>
                    </div>
                    <div class="form-group">
                        <a href="#" onclick='submit_rsvp("{{event.id}}", true)' class="btn btn-primary">Yes</a>
                        <a href="#" onclick='submit_rsvp("{{event.id}}", false)' class="btn btn-light">No</a>
                        <a href="#" onclick='show_note_ui(this)' class="btn btn-light"><i class="fa fa-sticky-note"></i></a>
                        <a href="#" onclick='show_autocomplete_ui(this)' class="btn btn-light"><i class="fa fa-user-plus"></i></a>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="text" name="note" class="form-control" id="note" placeholder="Additional note (optional)">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if event.html_description %}
        <div class="row-md container-md">
            <div id="event-description" class="col-md-6">
                {{ (event.html_description or '') | safe }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6" id="rsvp-list">
            <ul class="list-group">
                {% if not items %}
                    <li class="list-group-item">No RSVPs for this event</li>
                {% endif %}
                {% for item in items %}
                    <li class="list-group-item {% if item.user.fetch().gender == 'female' and not item.cancelled -%}text-white bg-secondary{% endif -%}">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="rsvp {% if item.cancelled %}rsvp-cancelled{% elif item.waitlisted %}rsvp-waitlisted{% endif %}"
                                  "data-toggle="tooltip" title="RSVP by {{item | rsvp_by}}">
                                {{item | rsvp_name}}
                            </span>
                            {% if not item.cancelled and (current_user.is_admin or
                                (event.can_rsvp(current_user) and item.can_cancel(current_user)))
                            %}
                                <button onclick='delete_rsvp("{{event.id}}","{{item.id}}")' class="close {% if item.user.fetch().gender == 'female' and not item.cancelled -%}text-white{% endif -%}">x</button>
                            {% endif %}
                        </div>
                        {% if item.note %}
                            <div class="small {% if item.user.fetch().gender == 'female' and not item.cancelled -%}text-white-50{% else %}text-muted{% endif %}">
                                {{ item.note }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <button id="share-event" class="btn btn-sm" onclick='share_event("{{event.title}}")'>
                            <i class="fa fa-share-alt"></i>
                        </button>
                        <button class="btn btn-sm copy-button"
                                id="copy-event"
                                type="button"
                                data-placement="bottom"
                                data-clipboard-action="copy"
                                data-clipboard-text="{% include 'event.md' %}">
                            <i class="fa fa-copy"></i>
                        </button>
                        <div style="display:inline" class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item copy-button"
                                        type="button"
                                        data-placement="top"
                                        data-clipboard-action="copy"
                                        data-clipboard-text="{% include 'full-names.md' %}">
                                    <i class="fa fa-clipboard-list"></i>
                                    Copy Full Names
                                </button>
                                {% if event.can_edit(current_user) %}
                                    <a href="{{ url_for("event_editor", id=event.id) }}" class="btn dropdown-item">
                                        <i class="fa fa-edit text-secondary"></i>
                                        Edit
                                    </a>
                                {% endif %}
                                {% if (event.created_by.id == current_user.email or current_user.is_admin) and not event.cancelled %}
                                    <button class="btn btn-danger dropdown-item"
                                            onclick='cancel_event("{{event.id}}")'>
                                        <i class="fa fa-times-circle text-danger"></i>
                                        Cancel Event
                                    </button>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                {% include 'event-splitwise.html' %}
                                <div class="dropdown-divider"></div>
                                {% include 'event-gdrive.html' %}
                            </div>
                        </div>
                    </span>
                    {% if count %}
                        <span>
                            <span class="rsvp-count text-white bg-dark rsvp-female-count">
                                <i class="fa fa-female"></i> {{female_count}}
                            </span>
                            <span class="rsvp-count">
                                <i class="fa fa-male"></i> {{male_count}}
                            </span>
                        </span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
