{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/tail.writer@0.4.1/css/tail.writer-white.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/tail.writer@0.4.1/js/tail.writer-full.min.js"></script>
    <script src="//unpkg.com/showdown/dist/showdown.min.js"></script>
    <script>
     document.addEventListener("DOMContentLoaded", function(){
         tail.writer(document.getElementById("event-description-editor"), {
             height: ["340px", "340px"],
             tooltip: "top",
             toolbar: "minimal",
         });
     });
     update_message = function(){
         if ($('#event-name').val() === "" || $('#date').val() === '') {
             return;
         }
         $(".alert").text('Creating event ...').show();
     }

     var setEndTime = function () {
         console.log("Setting end time...");
         var startTime = $('#time').val(),
             duration = {{ duration }};
         let [hour, minute] = startTime.split(":").map(parseFloat);
         console.log(hour, minute, duration, (duration % 3600) / 60);
         const endHour = hour + parseInt(duration / 3600);
         const endMinute = minute + parseInt((duration % 3600) / 60);
         console.log(endHour, endMinute);
         const endTime = String(endHour).padStart(2, '0') + ':' + String(endMinute).padStart(2, '0');
         $('#end_time').val(endTime);
     }
     var setEndDate = function(){
         console.log("Setting end date...");
         $("#end_date").val($("#date").val());
     }
     $(function(){
         if ( $('#end_time').val() === "" ) {
             setEndTime();
         }
         $('#time').on("input", setEndTime);
         $('#date').on("input", setEndDate);
     });
    </script>
{% endblock %}

{% block content %}
    <section class="card">
        <div class="card-body">
            <div class="h2 card-title">
                {% if event %}
                    Edit Event
                {% else %}
                    Create Event
                {% endif %}
            </div>
            <div class="card-text">
                <p class="alert alert-info" style="display: none;"></p>
                <form class="form" action="/event" method='POST'>
                    <div class="form-group row">
                        <label for="event-name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="event-name" id="event-name" placeholder="Event name" value="{{ event.name }}" required>
                        </div>
                        <label for="event-rsvp-limit" class="col-sm-2 col-form-label">RSVP Limit</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" name="event-rsvp-limit" id="event-rsvp-limit" placeholder="Max number of RSVPs" value="{{ event.rsvp_limit or 0 }}" required>
                            <small>Set to 0 if there's no limit</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">Start Date</label>
                        {% with date=event.date.date() if event else "" %}
                            <div class="col-sm-4">
                                <input type="date" class="form-control" name="date" id="date" value="{{ date }}" required>
                            </div>
                        {% endwith %}
                        <label for="time" class="col-sm-2 col-form-label">Start Time</label>
                        {% with time=event.date.time() if event else "06:00" %}
                            <div class="col-sm-4">
                                <input type="time" class="form-control" name="time" value="{{ time }}" id="time" required>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="form-group row">
                        <label for="date" class="col-sm-2 col-form-label">End Date</label>
                        {% with date=event.end_date.date() if event else "" %}
                            <div class="col-sm-4">
                                <input type="date" class="form-control" name="end_date" id="end_date" value="{{ date }}" required>
                            </div>
                        {% endwith %}
                        <label for="time" class="col-sm-2 col-form-label">End Time</label>
                        {% with time=event.end_date.time() if event else "" %}
                            <div class="col-sm-4">
                                <input type="time" class="form-control" name="end_time" value="{{ time }}" id="end_time" required>
                            </div>
                        {% endwith %}
                    </div>
                    {% if current_user.has_role("tester") %}
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_paid" id="is-paid" {% if event.is_paid %}checked{% endif %}>
                        <label class="form-check-label" for="is-paid">
                          Paid Event
                        </label>
                        <small id="paid-event-help" class="form-text text-muted">
                          Paid events prevent people without a Splitwise
                          Account from RSVP-ing. Make sure the event really
                          needs to be restrictive. Splitwise groups can be
                          created with all RSVP members with a single click
                          even for unpaid events.
                        </small>
                      </div>
                    </div>
                    {% endif %}
                    <div class="form-group row">
                        <label for="event-description-editor" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea id="event-description-editor" name="event-description" placeholder="Please add a plan for the session!">{{ event.description }}</textarea>
                        </div>
                    </div>
                    {% if event.id %}
                        <input type="hidden" name="event_id" value="{{ event.id }}">
                    {% endif %}
                    <button type="Submit" onclick="update_message()"
                            align="center" name="submit"
                            class="btn btn-primary">
                        Submit
                    </button>
                    <span class="text-sm float-right">
                        <a class="text-muted" href="{{ url_for('images')  }}" target="_blank">
                            Upload Images
                        </a>
                    </span>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
