{% extends "base.html" %}

{% block scripts %}
    <script>
     delete_rsvp = function(event_id, rsvp_id){
         $(".alert").text('Un-RSVPing...').show();
         fetch(`/api/rsvps/${event_id}/${rsvp_id}`,
               {credentials: 'same-origin', method: "DELETE"}).then(function(response){
             if (response.status == 200){
                 window.location.href = "";
             }
             return response.json();
         }).then(function(data){
             $(".alert").text(data.error).show();
         });
     }

     update_message = function(){
         if ($('#name').val() !== "") {
             $(".alert").text('RSVPing...').show();
         }
     }

     $(document).ready(function(){
         new ClipboardJS('#copy-button');
     });

     // Enable tooltips
     $(function () {
         $('[data-toggle="tooltip"]').tooltip()
     })

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"
            integrity="sha256-meF2HJJ2Tcruwz3z4XcxYDRMxKprjdruBHc3InmixCQ="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <p class="h2">
        {% if event.cancelled %}
            <del>{{ TEXT2 }}</del>
            <span class="badge badge-danger">Cancelled</span>
        {% else %}
            {{ TEXT2 }}
            {% if event.archived %}
                <span class="badge badge-secondary">Archived</span>
            {% endif %}
        {% endif %}
    </p>
    {% if not event.archived and not event.cancelled %}
        <div class="card">
            <div class="card-body">
                <p class="alert alert-info" style="display: none;"></p>
                <form class="form-inline" action="/new/{{event.id}}" method='POST'>
                    <div class="form-group required mx-2">
                        <input  type="text" name="name" class="form-control" id="name" placeholder="Enter name to RSVP" required autofocus>
                    </div>
                    <button type="Submit" onclick="update_message()" align="center" name="submit" class="btn btn-primary mr-2">Submit</button>
                    <input type="text" name="note" class="form-control" id="note" placeholder="Additional note (optional)">
                </form>
            </div>
        </div>
    {% endif %}
    <hr/>
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span data-toggle="tooltip" title="RSVP by {{item | rsvp_by}}">{{item.name}}</span>
                    {% if not event.cancelled and not event.archived and (current_user == item.rsvp_by or item.rsvp_by is none)  %}
                        <button onclick='delete_rsvp("{{event.id}}","{{item.id}}")' class="close">x</button>
                    {% endif %}
                </div>
                {% if item.note %}
                    <div class="small text-muted">
                        {{ item.note }}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        {% if count %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-info btn-sm my-2"
                        id="copy-button"
                        data-clipboard-action="copy"
                        data-clipboard-text="{% include 'event.md' %}">
                    Copy
                </button>
                <span class="badge badge-success badge-pill">{{count}}</span>
            </li>
        {% endif %}
    </ul>
{% endblock %}
