{% extends 'base.html' %}

{% block content %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Events</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Easy to use RSVP events</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Add or cancel RSVPs</li>
                    <li>Quickly copy RSVP list</li>
                    <li>Avoid WhatsApp "spam"</li>
                    <li>Easily see gender ratio</li>
                    <li>Link to Split-wise groups</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Players</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Easily manage player information</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Approve players to use the app</li>
                    <li>Collect important player info</li>
                    <li>Assign roles & permissions</li>
                    <li>Track attendance</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Media</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Organize and share media and posts</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Auto-share Google Drive & Calendar</li>
                    <li>New upload notifications</li>
                    <li>Sticky posts/announcements</li>
                    <li>Make selected posts public</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">API</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Integrate with other services</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Zulip support available</li>
                    <li>Other bots can use the API - Slack/WhatsApp/etc.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Coming Soon</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Potential new features</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Import UPAI events</li>
                    <li>Optional email notifications</li>
                    <li><a href="https://github.com/thatte-idli-kaal-soup/rsvpapp/issues" target="_blank">Request yours...</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free Software</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title">Software for the community</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Contribute & make it better</li>
                    <li>No lock-in</li>
                    <li>Run your own version</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
