<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ TEXT1 }}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="text-gray-700 bg-white"
          style="font-family: 'Ubuntu', sans-serif">
        <!--Hero-->
        <div
            class="py-20"
            style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
        >
            <div class="container mx-auto px-6">
                <h3 class="text-2xl mb-8 text-gray-200">
                    Organize and manage team events easily!
                </h3>
                <form class="w-full max-w-sm" action="/request-demo" method="POST">
                    <div class="flex items-center border-b border-b-2 border-white-500 py-2">
                        <input class="appearance-none bg-transparent border-none w-full text-gray-100 py-1 focus:outline-none" type="text" placeholder="Email Address" aria-label="Email Address" name="email" />
                        <input class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit" value="Request Demo" />
                    </div>
                </form>
            </div>
        </div>
        <!-- Features -->
        <section class="container mx-auto px-6 p-10">
            <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
                Features
            </h2>

            <div class="flex items-center flex-wrap mb-20">
                <div class="w-full md:w-1/2">
                    <h4 class="text-3xl text-gray-800 font-bold mb-3">
                        Simple RSVPs
                    </h4>
                    <ul class="text-gray-600 mb-8">
                        <li>Call-in for an event simply by clicking on a link</li>
                        <li>Easily manage RSVPs for multiple events concurrently</li>
                        <li>Keep WhatsApp groups still usable for actual discussions and chat</li>
                        <li>Easily see gender ratio for a practice</li>
                        <li>Keep track of player attendance</li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2">
                    <img style="max-height: 480px;" class="mx-auto" src="{{ url_for('static', filename='images/rsvp.png')|versioned }}" alt="Simple RSVPs" />
                </div>
            </div>

            <div class="flex items-center flex-wrap mb-20">
                <div class="w-full md:w-1/2">
                    <img class="mx-auto" src="{{ url_for('static', filename='images/player-search.png')|versioned }}" alt="Player Information" />
                </div>
                <div class="w-full md:w-1/2 pl-10">
                    <h4 class="text-3xl text-gray-800 font-bold mb-3">
                        Player Information Management
                    </h4>
                    <ul class="text-gray-600 mb-8">
                        <li>Single DB with all player information, past and present</li>
                        <li>Easily search for a player's information</li>
                        <li>Quickly share player information for an event. Useful for sharing info with venue management, insurance agents, etc.</li>
                        <li>Create Splitwise groups from events with a single click</li>
                    </ul>
                </div>
            </div>

            <div class="flex items-center flex-wrap mb-20">
                <div class="w-full md:w-1/2">
                    <h4 class="text-3xl text-gray-800 font-bold mb-3">
                        Organize Team Media
                    </h4>
                    <ul class="text-gray-600 mb-8">
                        <li>Automatically shared Google Drive among all players</li>
                        <li>Share photos to Google Drive with as much ease as
                            sharing on WhatsApp</li>
                        <li>Don't lose valuable videos and pictures in WhatsApp groups, etc.</li>
                    </ul>
                </div>
                <div class="w-full md:w-1/2">
                    <img style="max-height: 480px" class="mx-auto" src="{{ url_for('static', filename='images/share-clean.jpg')|versioned }}" alt="Player Information" />
                </div>
            </div>
        </section>

    </body>
    <!-- Based on https://scotch.io/tutorials/build-a-beautiful-landing-page-with-tailwind-css -->
</html>
