{% extends "base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>

    <script>
     var editor = new Editor({
         element: document.getElementById("event-description"),
         placeholder: "Please add a plan for the session!",
     });

    </script>
    <script>
     update_message = function(){
         if ($('#event-name').val() === "" || $('#date').val() === '') {
             return;
         }
         $(".alert").text('Creating event ...').show();
     }

     cancel_event = function(event_id){
         $(".alert").text('Cancelling event ...').show();
         fetch(`/api/event/${event_id}`,
               {method: "PATCH",
                credentials: 'same-origin',
                body: JSON.stringify({cancelled: true}),
                headers: {'content-type': 'application/json'}}).then(function(response){
                    if (response.status == 200){
                        window.location.href = "";
                    }
                    return response.json();
                }).then(function(data){
                    $(".alert").text(data.error).show();
                });
     }

    </script>
{% endblock %}

{% block content %}
    <section>
        <p class="h2">Upcoming Events
            <span class="badge badge-primary badge-pill">{{upcoming_events|length}}</span>
        </p>
        <ul class="list-group">
            {% for item in upcoming_events %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if item.cancelled %}
                        <del>
                    {% endif %}
                    <span>
                        <span><a href="/event/{{item.id}}">{{ item.name }}</a></span>
                        {% if item.rsvps %}
                            <span class="badge badge-primary badge-pill">{{item.rsvp_count}}</span>
                        {% endif %}
                        {% if (item.created_by.id == current_user.email or current_user.is_admin) and not item.cancelled %}
                            <button class="btn btn-danger btn-sm" onclick='cancel_event("{{item.id}}")'>
                                <small>cancel</small>
                            </button>
                        {% endif %}
                    </span>
                    <span>{{ item.date | format_date }}</span>
                    {% if item.cancelled %}
                        </del>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    {% if true %}
        <section class="card">
            <div class="card-body">
                <div class="h2 card-title">Add new Event</div>
                <div class="card-text">
                    <p class="alert alert-info" style="display: none;"></p>
                    <form class="form" action="/event" method='POST'>
                        <div class="form-group row">
                            <label for="event-name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="event-name" id="event-name" placeholder="Event name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" name="date" id="date" required>
                            </div>
                            <label for="time" class="col-sm-2 col-form-label">Time</label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" name="time" id="time" value="06:00" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="event-description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="event-description" name="event-description" rows="2" placeholder="Please add a plan for the session!"></textarea>

                            </div>
                        </div>
                        <button type="Submit" onclick="update_message()"
                                align="center" name="submit"
                                class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
