{% extends 'base.html' %}

{% block content %}

    {% if youtube_playlist %}
        <p class="h5">{{TEXT1}} Videos</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="800" height="450" src="https://www.youtube-nocookie.com/embed/videoseries?list={{youtube_playlist}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endif %}

    {% include 'media-new-photos.html' %}
    {% include 'media-gdrive.html' %}

    <p class="h5">Social media profiles</p>
    {% for platform in social if platform.url %}
        <p>
            <a class="h2" href="{{platform.url}}" target="_blank" title="{{platform.name}}">
                <i class="fab fa-{{platform.icon}}"></i>
            </a>
            {{ platform.description }}
        </p>
        {% if platform.password %}
            <div class="input-group">
                <input type="password" class="form-control pwd" value="{{ platform.password }}" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-default reveal btn-sm" type="button"><i class="fas fa-eye"></i></button>
                    <button class="btn btn-outline-primary btn-sm my-2 copy-button"
                            data-placement="bottom"
                            data-clipboard-action="copy"
                            data-clipboard-text="{{platform.password}}">
                        <i class="fas fa-copy"></i>
                    </button>
                </span>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block scripts %}
    <script>
     $(".reveal").on('click',function() {
         var $pwd = $(this).parent().parent().find(".pwd");
         if ($pwd.attr('type') === 'password') {
             $pwd.attr('type', 'text');
         } else {
             $pwd.attr('type', 'password');
         }
     });
    </script>
{% endblock %}
