{% extends 'base.html' %}

{% block content %}
    <p>
        This photo is from <a href="https://drive.google.com/drive/folders/{{photo.gdrive_parent}}/" target="_blank">{{ photo.gdrive_path }}</a>

        {% set location = photo.gdrive_metadata.location %}
        {% set time = photo.gdrive_metadata.time %}
        {% if location %}
            <a href="http://maps.google.com/?q={{ location.latitude }},{{ location.longitude }}" target="_blank">
                <i class="fa fa-map-marker-alt"></i>
            </a>
        {% endif %}
        {% if time %}
            ({{ time.strftime("%d %b %Y, %H:%M") }})
        {% endif %}
    </p>
    <div class="embed-responsive embed-responsive-{{ aspect_ratio }}">
        <iframe src="https://drive.google.com/file/d/{{photo.gdrive_id}}/preview"
                class="embed-responsive-item" />
    </div>
{% endblock %}
