{% extends "base.html" %}

{% block title %}
    {{ post.title }} - {{ TEXT1 }}
{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="h2 blog-post-title">
            {{post.title}}
        </div>
        <p class="blog-post-meta">
            {{post.created_at.strftime('%B %d, %Y')}} {% if post.author %}by {{post.author.fetch().name}}{% endif %}
            {% if post.public %}
                <span class="badge badge-primary">Public</span>
            {% endif %}
            {% if current_user.email == post.author.fetch().email or current_user.is_admin %}
                <a class="badge badge-secondary" href="{{ url_for('edit_post', id=post.id) }}">Edit</a>
            {% endif %}
        </p>
        {{post.html_content | safe}}
    </div>
{% endblock %}
