{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/tail.writer@0.4.1/css/tail.writer-white.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/tail.writer@0.4.1/js/tail.writer-full.min.js"></script>
    <script src="//unpkg.com/showdown/dist/showdown.min.js"></script>
    <script>
     document.addEventListener("DOMContentLoaded", function(){
         tail.writer(document.getElementById("content"), {
             height: ["340px", "340px"],
             tooltip: "top",
             toolbar: "minimal",
         });
     });
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css" integrity="sha256-EhmqrzYSImS7269rfDxk4H+AHDyu/KwV1d8FDgIXScI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.css" integrity="sha256-9xc5FBFR3TnnIx/G9SEbdMm0BWyGNRDH1XITfATut8Q=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

    <script>
     console.log("Setting up author selection");
     var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
                       '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';

     $('#select-authors').selectize({
         persist: false,
         maxItems: null,
         valueField: 'email',
         labelField: 'name',
         searchField: ['name', 'email', 'nick'],
         options: [
             {% for author in authors %}
             { email: '{{author[0]}}', name: '{{author[1]}}', nick: '{{author[2]}}' }
             {% if not loop.last %}
             ,
             {% endif %}
             {% endfor %}
         ],
         items: [
             {% for author in post.authors %}
             '{{ author.email }}'
             {% if not loop.last %}
             ,
             {% endif %}
             {% endfor %}
         ],
         render: {
             item: function(item, escape) {
                 return '<div><span class="name">' + escape(item.name) + '</span></div>';
             },
             option: function(item, escape) {
                 return '<div><span class="name">' + escape(item.name) + '</span></div>';
             }
         },
         createFilter: function(input) {
             var match, regex;

             // email@address.com
             regex = new RegExp('^' + REGEX_EMAIL + '$', 'i');
             match = input.match(regex);
             if (match) return !this.options.hasOwnProperty(match[0]);

             // name <email@address.com>
             regex = new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i');
             match = input.match(regex);
             if (match) return !this.options.hasOwnProperty(match[2]);

             return false;
         },
         create: function(input) {
             if ((new RegExp('^' + REGEX_EMAIL + '$', 'i')).test(input)) {
                 return {email: input};
             }
             var match = input.match(new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i'));
             if (match) {
                 return {
                     email : match[2],
                     name  : $.trim(match[1])
                 };
             }
             alert('Invalid email address.');
             return false;
         }
     });
    </script>
{% endblock %}



{% block content %}
    <section class="card">
        <div class="card-body">
            <div class="card-text">
                <p class="alert alert-info" style="display: none;"></p>
                <form class="form" action="/post" method='POST'>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" value="{{post.title}}" class="col form-control" name="title" id="title" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea id="content" name="content" placeholder="Post content">{{post.content}}</textarea>

                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="authors" aria-label="Authors" class="col-sm-2 col-form-label">Authors</label>
                        <select id="select-authors"
                                name="authors"
                                multiple="multiple"
                                placeholder="Pick some co-authors...">
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="public" name="public" type="checkbox" aria-label="Public post" {% if post.public %}checked{% endif %}>
                            </div>
                        </div>
                        <label for="public" class="form-control" aria-label="Public post">Public post? (viewable without logging in)</label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input id="draft" name="draft" type="checkbox" aria-label="Draft post" {% if post.draft %}checked{% endif %}>
                            </div>
                        </div>
                        <label for="draft" class="form-control" aria-label="Draft post">Draft post? (only visible to authors and site admins)</label>
                    </div>
                    <input type="hidden" name="post-id" value="{{post.id}}">
                    <button type="Submit" align="center" name="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <span class="text-sm float-right">
                        <a class="text-muted" href="{{ url_for('images')  }}" target="_blank">
                            Upload Images
                        </a>
                    </span>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
