{% extends "base.html" %}

{% block content %}
    <a class="float-right btn btn-primary" href="{{ url_for('add_post') }}">Add post</a>
    {% for post in posts %}
        {% if not post.draft or post.can_edit(current_user) %}
            <div class="blog-post">
                <p>
                    <a href="{{ url_for('show_post', id=post.id) }}"><span class="h3">{{post.title}}</span></a>
                </p>
                <p class="blog-post-meta">
                    {% if post.public %}
                        <span class="badge badge-primary">Public</span>
                    {% endif %}
                    {% if post.draft %}
                        <span class="badge badge-secondary">Draft</span>
                    {% endif %}
                    {{post.created_at.strftime('%B %d, %Y')}} {% if post.author %}by {{post.author.fetch().name}}{% endif %}
                </p>
            </div>
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
