{% extends "base.html" %}

{% block title %}
    {{ post.title }} - {{ TEXT1 }}
{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="h2 blog-post-title">
            {{post.title}}
        </div>
        <p class="blog-post-meta">
            {% if post.author %} posted by {{post.author.fetch().name}}{% endif %} at {{post.created_at.strftime('%B %d, %Y')}}
            {% if post.public %}
                <span class="badge badge-primary">Public</span>
            {% endif %}
            {% if post.draft %}
                <span class="badge badge-secondary">Draft</span>
            {% endif %}
            {% if post.can_edit(current_user) %}
                <a class="badge badge-secondary" href="{{ url_for('edit_post', id=post.id) }}">Edit</a>
            {% endif %}
        </p>
        {{post.html_content | safe}}
        <hr/>
        {% include "zulip-comments.html" %}
    </div>
{% endblock %}
