{% extends "base.html" %}

{% block content %}
    Searching a for events with query "{{ query }}"
    {% for event in events %}
        <div class="blog-post">
            <p>
                <a href="{{ url_for('event', id=event.id) }}"><span class="h3">{{event.name}}</span></a>
            </p>
            <p class="blog-post-meta">
                {% if event.public %}
                    <span class="badge badge-primary">Public</span>
                {% endif %}
                {{event.date.strftime('%B %d, %Y')}}
            </p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
