{% extends 'base.html' %}

{% block content %}
    <h2>Secret Santa participants</h2>
    <ul>
        {% for person in people %}
            <li>{{ person.nick or person.name }}</li>
        {% endfor %}
    </ul>
    {% if pairs %}
        <h2>Secret Santa pairs</h2>
        <table>
            <tr>
                <th>Santa</th>
                <th>Kiddo</th>
            </tr>
            {% for (santa, kiddo) in pairs %}
                <tr>
                    <td>{{ santa.nick or santa.name }}</td>
                    <td>{{ kiddo.nick or kiddo.name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form class="form" action="/secret-santa/{{event_id}}" method='POST'>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input id="live-run" name="live-run" type="checkbox" aria-label="Live Run">
                </div>
            </div>
            <label for="live-run" class="form-control" aria-label="Live Run">Live run? (Select only if you are not testing!)</label>
        </div>
        <button type="submit" align="center" name="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
{% endblock %}
