{% extends 'base.html' %}

{% block content %}
    <div id="drag-drop-area"></div>
    <form class="form row" id="folder-form">
        <fieldset class="col-md-6 offset-md-3">
            <p class="alert alert-info">
                Please select an existing folder on Google Drive or provide a new folder
                name where you want to upload the files to.
            </p>
            <p>Would you like to create a new folder or upload to an existing directory?</p>
            <button class="btn btn-light navigate jump-existing">View Existing Directories</button>
            <button class="btn btn-light navigate jump-new-dir">Create New Directory</button>
        </fieldset>
        <fieldset id="fs-existing" class="col-md-6 offset-md-3">
            {% for dir in existing_dirs %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="existing_dir" id="{{ dir.id }}" value="{{ dir.id }}">
                    <label class="form-check-label" for="{{ dir.id }}">
                        <i class="fab fa-google-drive"></i> {{ dir.name }}
                    </label>
                </div>
            {% endfor %}
            <button class="btn btn-light navigate jump-new-dir">Create New Directory</button>
            <button class="btn btn-secondary navigate jump-upload">Finish</button>
        </fieldset>
        <fieldset id="fs-new-dir" class="col-md-6 offset-md-3">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" value="" name="title" id="title" placeholder="New Folder Name">
                </div>
            </div>
            <input type="hidden" type="radio" name="new_dir" id="" value="">
            <button class="btn btn-light navigate jump-existing">View Existing Directories</button>
            <button class="btn btn-secondary" id="create-dir">
                <div class="spinner-border" style="display: none;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                Create Directory
            </button>
            <button class="btn btn-secondary navigate jump-upload" style="display: none;">Finish</button>
        </fieldset>
        <fieldset id="fs-upload" class="col-md-6 offset-md-3">
            <input type="submit" class="btn btn-primary" value="Upload!"/>
        </fieldset>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.js"></script>
    <script src="{{ url_for('static', filename='upload.js')|versioned }}"></script>
{% endblock %}

{% block extra_head %}
    <link href="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.css" rel="stylesheet">
    <style>
     /*Hide all except first fieldset*/
     fieldset:not(:first-of-type) {
         display: none;
     }
    </style>
{% endblock %}
