<div class="card col-md-6" id="event-rsvp">
  <div class="card-body">
    <div class="form-group mb-2" id="rsvp-self">
      {% if event %}
      <p>
        This is a paid event and you need to link your profile with a
        Splitwise account to be able to RSVP.
      </p>
      {% endif %}
      <a href="{{ url_for("allow_splitwise", next=next_url) }}">
        <button class="btn btn-primary">
          <i class="fa fa-rupee-sign"></i>
          Connect Splitwise
        </button>
      </a>
      <div>
        <small>Linking to Splitwise is only used by the app for
          <ol>
            <li>Obtaining your Splitwise ID</li>
            <li>Adding the app's admin user as your Splitwise friend, so you can
              be added to Splitwise groups.</li>
          </ol>
          <p>
            Your Splitwise authentication credentials are discarded after
            performing the above actions. No other actions are performed on
            your behalf by the RSVP app.
          </p>
          <p>
            But, you are encouraged
            to <a href="https://secure.splitwise.com/apps"
            target="_blank">revoke permissions</a> for the app to your
            Splitwise account once these actions have been performed.

            {% if event %} You can find this link on your RSVP app profile,
            later. {% endif %}
          </p>

          <p>
            The authorisation page shows that the RSVP app is requesting a
            whole bunch of permissions since the Splitwise API is not granular
            enough to give permissions only for obtaining user information,
            and/or adding friends.
          </p>

          <p>If you are still skeptical, you can contact the app admins to
          manually peform the two steps listed above.</p>
        </small>
      </div>
    </div>
  </div>
</div>
