{% with dues, currency = current_user.dues %}
{% if dues > 0 %}
<div class="card col-md-6" id="event-rsvp">
  <div class="card-body">
    <div class="form-group mb-2" id="rsvp-self">
      You have dues of <span>{{currency}} {{dues}}<span>.
      {% if not current_user.acceptable_dues %}
          Please clear them to be able to RSVP to paid events.
      {% endif %}
    </div>
    <div>
      You owe:
      <ul>
        {% for due in current_user.dues_details %}
        <li>{{ due.currency_code }} {{ due.amount }} to {{due.to_user.nick_name or due.to_member.name}}

          {% if due.to_user.upi_id %} ({{ due.to_user.payment_link(due.amount, due.currency_code, due.group_name) | safe }}) {% endif %}

          {% if due.event %}for <a href="{{ url_for('event', id=due.event.id) }}">{{due.event.name}}</a>{% endif %}

           (<a href="https://secure.splitwise.com/#/groups/{{due.group_id}}">Splitwise group</a>)
        </li>
        {% endfor %}
      </ul>
    </div>
    <small>If you just cleared dues wait for about 5 minutes for them to update in
  the RSVP app, or "Sync RSVPs with Splitwise" for a paid event.</small>
  </div>
</div>
{% endif %}
{% endwith %}
