<!-- Modal -->
<div class="modal fade" id="ToSModal" tabindex="-1" role="dialog" aria-labelledby="ToSModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ToSModalLabel">Responsible data use</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    We respect your privacy, and would like you to do the same with
                    others' data. Please use this data responsibly.
                </p>
                <p>
                    Read the <a href="https://github.com/thatte-idli-kaal-soup/rsvpapp/blob/master/terms-of-service.md" target="_blank">Terms of Service</a> for more information on your rights and responsibilities.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="createCookie('tosAccepted', 'true', 7)" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
