<section class="upcoming-events">
    <span>
        <p class="d-inline h4">
            <span class="badge badge-secondary">{{upcoming_events|length}}</span>
            Upcoming Events
        </p>
        <a href="{{ url_for("event_editor") }}" class="btn">
            <i class="fa fa-plus-circle"></i>
        </a>
        <a class="text-muted" href="{{ url_for('archived') }}">See all</a>
    </span>
    <ul class="list-group">
        {% for item in upcoming_events %}
            <li class="list-group-item d-flex align-items-center">
                <div class="event-date">
                    <span class="week">{{ item.date.strftime("%a") }}</span>
                    <span class="day">{{ item.date.strftime("%d") }} {{ item.date.strftime("%b") }}</span>
                </div>
                <span class="mr-auto {% if item.cancelled %}cancelled-event{% endif %}">
                    <a href="/event/{{item.id}}">{{ item.name }}</a>
                </span>
                <div class="rsvp-count flex-fill">
                    {% if item.rsvps %}
                        <i class="fa fa-user"></i> {{item.rsvp_count}}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
