<div class="col-md-6">
    <ul class="list-group">
        {% for item in upcoming_events %}
            <li class="list-group-item d-flex align-items-center">
                <div class="event-date">
                    <span class="week">{{ item.date.strftime("%a") }}</span>
                    <span class="day">{{ item.date.strftime("%d %b") }}</span>
                </div>
                <span class="mr-auto event-title {% if item.cancelled %}cancelled-event{% endif %}">
                  <a href="/event/{{item.id}}">{{ item.name }}</a>
                </span>
                <div class="rsvp-count">
                    {% if item.is_paid %}
                        <i class="fa fa-rupee-sign text-secondary" title="Paid"></i>
                    {% endif %}
                    {% if item.rsvps %}
                        <i class="fa fa-user"></i> {{item.rsvp_count}}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if not upcoming_events|length %}
                <a class="text-muted" href="{{ url_for('calendar') }}">No upcoming events</a>
            {% else %}
                <a class="text-muted" href="{{ url_for('calendar') }}">See all</a>
            {% endif %}
            <a href="{{ url_for("event_editor") }}" class="btn btn-light">
                Add Event
            </a>
        </li>
    </ul>
</div>
