{% extends 'base.html' %}

{% block content %}
    {% set user = current_user %}
    {% include 'user_form.html' %}

    {% for user in users %}
        {% if loop.index % 3 == 1 %}
            <div class="row">
        {% endif %}
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{ user.name }}
                    {% for role in user.roles %}
                        <span class="badge badge-info">{{role}}</span>
                    {% endfor %}
                </div>
                <div class="card-body">
                    {% include 'user_display.html' %}
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    <p class="h6">{{users|length + 1}} registered users</p>
{% endblock %}
