<div class="row">
    <div class="col-sm-4">
        <div class="card bg-dark text-white mb-3">
            <div class="card-header">
                {{user.name}}
                {% for role in user.roles %}
                    {% if not role.startswith('.') %}
                        <span class="badge badge-info">{{role}}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-body">
                <form class="form" action="/user" method="POST">
                    <input type="hidden" name="email" value={{user.email}}>
                    <input type="text" class="form-control my-2" name="nick" id="nick" placeholder="Nick" value="{{user.nick or ''}}">
                    <input type="date" class="form-control my-2" name="dob" id="dob" placeholder="Date of Birth" value="{% if user.dob %}{{user.dob.strftime('%Y-%m-%d')}}{% else %}{% endif %}">
                    <input type="text" class="form-control my-2" name="upi-id" id="upi-id" placeholder="UPI ID" value="{{user.upi_id or ''}}">
                    <input type="text" class="form-control my-2" name="blood-group" id="blood-group" placeholder="Blood Group" value="{{user.blood_group or ''}}">
                    <button type="submit" align="center" name="submit" class="btn btn-info my-1">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
