{% extends 'base.html' %}

{% block content %}
    {% set user = current_user %}
    {% if not role %}
        {% include 'user_form.html' %}
    {% endif %}

    <hr/>
    {% if not role %}
        <p class="h6">{{users|length + 1}} registered users</p>
        {% include 'tos_modal.html' %}
    {% else %}
        <p class="h6">{{users|length}} {{role}} users</p>
    {% endif %}

    <p>
        Filter users:
        {% for role in roles %}
            <a class="badge badge-info" href="{{url_for('users', role=role)}}">{{role}}</a>
        {% endfor %}
        <a class="badge badge-info" href="{{url_for('users')}}">All users</a>
    </p>
    <hr/>


    {% for user in users %}
        {% if loop.index % 3 == 1 %}
            <div class="row">
        {% endif %}
        <div class="col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{ user.name }}
                    {% for role in user.roles %}
                        {% if not role.startswith('.') %}
                            <a class="badge badge-info" href="{{url_for('users', role=role)}}">{{role}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body">
                    {% include 'user_display.html' %}
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
     $('#ToSModal').modal('show')
    </script>
{% endblock %}
