{% extends 'base.html' %}
{% block content %}
    {% set user = current_user %}
    <p class="h3">Update your details here</p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">
                    {{user.name}}
                    {% for role in user.roles %}
                        {% if not role.startswith('.') %}
                            <a class="badge badge-info" href="{{url_for('users', role=role)}}">{{role}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-body">
                    <form class="form" action="/profile" method="POST">
                        <input type="hidden" name="email" value={{user.email}}>
                        <input type="text" class="form-control my-2" name="nick" id="nick" placeholder="Nick" value="{{user.nick or ''}}">
                        <div class="form-control">
                            <label for="dob">Date of Birth</label>
                            <input type="date" class="form-control my-2" name="dob" id="dob" placeholder="Date of Birth" value="{% if user.dob %}{{user.dob.strftime('%Y-%m-%d')}}{% else %}{% endif %}">
                        </div>
                        <select class="custom-select" name="gender">
                            <option {% if user.gender == "female" %}selected{% endif %} value="female">Female</option>
                            <option {% if user.gender == "male" %}selected{% endif %} value="male">Male</option>
                        </select>
                        <input type="text" class="form-control my-2" name="upi-id" id="upi-id" placeholder="UPI ID" value="{{user.upi_id or ''}}">
                        <input type="text" class="form-control my-2" name="blood-group" id="blood-group" placeholder="Blood Group" value="{{user.blood_group or ''}}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="hide_dob" name="hide_dob" type="checkbox" aria-label="Hide Birthday" {% if user.hide_dob %}checked{% endif %}>
                                </div>
                            </div>
                            <label for="hide_dob" class="form-control" aria-label="Hide Birthday">Hide Birthday?</label>
                        </div>
                        <button type="submit" align="center" name="submit" class="btn btn-info my-1">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
