<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span></span> <span>{{user.email}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Nick</span> <span>{{user.nick or '-'}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Date of Birth</span>
        <span>{% if user.dob %}{{user.dob|format_date}}{% else %}-{% endif %}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>UPI ID</span> <span>{{user.upi_id or '-'}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Blood Group</span> <span>{{user.blood_group or '-'}}</span>
    </li>
</ul>
