{% if current_user.is_authenticated %}
    <div class="zulip-comments mt-4">
        {% for comment in comments %}
            <div class="media border p-3">
                <img class="mr-3" src="{{ comment.avatar_url }}" alt="">
                <div class="media-body">
                    <span class="float-right">
                        {{ comment.timestamp }}
                    </span>
                    <h6><span class="font-weight-bold">{{ comment.sender_full_name }}</span></h6>
                    <div class="message_content">{{ comment.content | safe }}</div>
                    <div class="message_reactions">
                        {% for emoji_code, reaction_group in comment.reactions|groupby('emoji_code') %}
                            <div class="float-left border rounded p-1">
                                <div class="float-left emoji emoji-{{ emoji_code }}">&#x{{emoji_code}}</div>
                                <div class="px-1 float-right text-sm message_reaction_count">
                                    <small>{{ reaction_group | length }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<script type="text/javascript">
 // Render all emojis
 $('.message_content span.emoji').map(function(idx, element){
     var match = element.className.match('emoji-([0-9a-f]+)');
     if (match.length >= 2) {
         element.innerHTML = '&#x' + match[1];
     }
 });
</script>
