{% for comment in comments %}
    <div class="media border p-3">
        <img class="mr-3" src="{{ comment.avatar_url }}" alt="">
        <div class="media-body">
            <span class="float-right">
                {{ comment.timestamp }}
            </span>
            <h6><span class="font-weight-bold">{{ comment.sender_full_name }}</span></h6>
            <div class="message_content">{{ comment.content | safe }}</div>
            <div class="message_reactions">
                {% for reaction in comment.reactions %}
                    <div class="float-left border rounded p-1">
                        <div class="float-left emoji emoji-{{ reaction.emoji_code }}">&#x{{reaction.emoji_code}}</div>
                        <div class="px-1 float-right text-sm message_reaction_count">
                            <small>{{ comment.reactions | length }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
